 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');


*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

:root {
/* Fonts */
--font-family: 'Libre Franklin', sans-serif;
--Font-size: 1.3rem;

/* Colors */
--Blue: hsl(223, 87%, 63%);
--Pale-Blue: hsl(223, 100%, 88%);
--Light-Red: hsl(354, 100%, 66%);
--Gray: hsl(0, 0%, 59%);
--Very-Dark-Blue: hsl(209, 33%, 12%);
}

body{
    font-family: var(--font-family);
}

.container{
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image{
    width: 100%;
    height: auto;
}
.logo{
    margin-bottom: 2rem;
}
.title{
    color: var(--Gray);
    font-weight: 300;
    margin-bottom: 2rem;
    font-size: 20px
;
}

.soon{
    color: var(--Very-Dark-Blue);
    font-weight: 700;
}

.paragraph{
margin-bottom: 2rem;
}

form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 100%;
}
.form-input{
    border-radius: 1rem;
    padding: .5rem;
    width: 90%;
    border: 2px solid var(--Pale-Blue);
}
.form-input::placeholder{
    color: var(--Pale-Blue);
    padding-left: 1rem;
}
.button{
    width: 90%;
border-radius: 1rem;
padding: .5rem;
background-color: var(--Blue);
border: none;
color: white;
}
.icons{
    width: 30%;
fill: var(--Blue);
margin-top: 5rem;
margin-bottom: 1rem;
display: flex;
justify-content: space-evenly;
}

.svg{
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--Pale-Blue); 
    overflow: hidden;
}
.copyright{
    font-size: .5rem;
}